{% load static %}

<html lang="ko">
    <meta charset="UTF-8">
    <title>집PT</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}?after" media="screen">

    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>

    <style>
        /* 배경 이미지 추가 */
        body {
            background-image: url('{% static 'images/main.png' %}');
            background-size: cover;
            background-position: center;
        }
    </style>



{% if user.is_authenticated %}
    <div class="find-btn">
        <a href="/board" class="w-btn-outline w-btn-blue-outline" type="button" style="top:445px;">홈</a>
    </div>
    <br>
    <br>
    <br>
    <div class="find-btn">
        <a href="/logout" class="w-btn-outline w-btn-blue-outline" type="button" style="top:445px;">로그아웃</a>
    </div>
{% else %}
    <div class="find-btn">
        <a href="/login" class="w-btn-outline w-btn-blue-outline" type="button" style="top:445px;">로그인</a>
    </div>
    <br>
    <br>
    <br>
    <div class="find-btn">
        <a href="/signup" class="w-btn-outline w-btn-blue-outline" type="button" style="top:445px;">회원가입</a>
    </div>
{% endif %}


<section>
    <div class="container">
            <div class="container-2">
            <h1 style="text-align: center; font-size:50px; font-weight: BOLD;" >집PT</h1>
            <p style="text-align: center;font-size: 30px;"> 수업 태도/자세 모니터링 서비스 </p></br>
                <p id="text" style="  font-size: 15px text-decoration: underline;"></p>
                <p id="text2" style="font-weight: bold;font-size: 16px text-decoration: underline font-size: 16px;"></p>
            </div>
        </div>
</section>
