{% extends 'blog/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="wrapper">
    <div style="text-align: center;">
        <h1>로그인</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} error-message"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            아이디:
            <br>
            <input name="username" type="text">
            <br>
            비밀번호:
            <br>
            <input name="password" type="password">
            <br><br>
            <input type="submit" class="btn btn-primary" value="Login">
            <br>
        <br>
        <br>
        </form>
    </div>
</div>
{% endblock %}