<footer class="bg-dark text-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>조르미 오나!</h5>
                <p>졸린 당신을 위한 똑똑한 솔루션</p>
            </div>
            <div class="col-md-6 text-md-right">
                <h5>문의하기</h5>
                <p>joreumiona.com</p>
            </div>
        </div>
        <hr class="bg-light">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2023 조르미 오나!. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>