<div id="header-wrapper">
    <header id="header" class="container">
        <!-- Logo -->
        <div id="logo">
            <h1><a href="{% url 'home'%}" class="icon regular fa-moon">집PT</a></h1>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="#">홈</a></li>
                <li><a href="intro.html">소개</a></li>
                <li><a href="service.html">서비스</a></li>
                <li><a href="{% url 'dashboard'%}">마이페이지</a></li>
            </ul>
        </nav>
    </header>
</div>
