* {
  box-sizing: border-box;
}

body {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13pt;
  color: #696969;
  font-weight: 300;
  line-height: 2.25em;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-weight: 800;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  margin: 0 0 1.1em 0;
  line-height: 1em;
}

h3 {
  color: #99CCCC;
  font-size: 1.35em;
  margin: 0 0 1em 0;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1400px;
}

.container-2 {
  text-align: center;
  color: black;
}

.text-light {
  text-align: center;
  color: black;
}

section {
  margin-bottom: 150px;
}

.find-btn {
  text-align: center;
  color: black;
}

button {
  margin: 20px;
}

.w-btn-outline {
  position: relative;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  top: 460px;
  color: black;
}

.w-btn-outline:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.w-btn-outline:active {
  transform: scale(1.5);
}

.w-btn-blue-outline {
  border: 3px solid #FFA500;
  color: black;
}

.w-btn-blue-outline:hover {
  background-color: #FFA500;
  color: #d4dfe6;
}

.w-btn-yellow-outline {
  border: 3px solid #1BEDC6;
  color: #1BEDC6;
}

.w-btn-yellow-outline:hover {
  background-color: #1BEDC6;
  color: #1BEDC6;
}

.line_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}


.btn {
  background-color: #FFA500;
  color: black;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 6px 25px;
  margin: 4px;
  font-size: 13px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-empty);
  cursor: not-allowed;
}

